.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root .card {
  display: inline-flex;
  min-width: 400px;
  margin-right: 15px;
}

#root .navbar {
  margin-bottom: 40px;
}

#root .form-container {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border: 1px outset rgb(238, 238, 238);
}

#root .form-container h3{
  text-align: center;
}

#root .form-container .form-group .priority-label{
  margin-right: 15px;
}